/* src/index.css */

/* Tailwind v4 stable main import */
@import "tailwindcss";


html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

/* === Background wrapper === */
.background {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./assets/images/MainBackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}
